@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1280px) {
    .xl\:left-120 {
        left:25rem
    }

    .xl\:ml-120 {
        margin-left:25rem
    }

    .xl\:w-120 {
        width:25rem
    }

    .xl\:px-12 {
        padding-left: 2rem;
        padding-right:2rem
    }
}